<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/tuannt8/ios-app-adhoc/tree/master/top_opt_ui%202018-12-04%2016-18-57/top_opt_ui.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://drive.google.com/open?id=1AowRxVWEokW9sWyMoERQ4DhdLtv4qYKA</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://drive.google.com/open?id=1AowRxVWEokW9sWyMoERQ4DhdLtv4qYKA</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>DTU.topopt-mesh</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>top_opt_ui</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
